* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}

.gd-checkbox {

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked ~ .gd-checkbox-off {
    display: none;
  }

  input[type="checkbox"]:not(:checked) ~ .gd-checkbox-on {
    display: none;
  }
}

.gd-checkbox-on,
.gd-checkbox-off {
  height: 124px;
  width: 124px;
}
